In [239]:
import pandas as pd
import random
x=pd.read_csv(r'C:\Users\nopsh\Downloads\marks.csv')

In [240]:
print('How many ilteration do u need ')
a=input()
for d in range(int(a)):
    if d==0:
        n1=random.choices(x['marks'])
        n2=random.choices(x['marks'])
        x['Ilteration '+str(d+1)+' C1']=abs(x['marks']-n1)
        x['Ilteration '+str(d+1)+' C2']=abs(x['marks']-n2)
        C1=0
        C2=0
        c1No=0
        c2No=0
        for xl in range(8):
            if x['Ilteration '+str(d+1)+' C1'][xl]<x['Ilteration '+str(d+1)+' C2'][xl]:
                C1=C1+x['marks'][xl]
                c1No=c1No+1
            else:
                C2=C2+x['marks'][xl]
                c2No=c2No+1
        n1=C1/c1No
        n2=C2/c2No
    else:
        x['Ilteration '+str(d+1)+' C1']=abs(x['marks']-n1)
        x['Ilteration '+str(d+1)+' C2']=abs(x['marks']-n2)
        C1=0
        C2=0
        c1No=0
        c2No=0
        for xl in range(8):
            if x['Ilteration '+str(d+1)+' C1'][xl]<x['Ilteration '+str(d+1)+' C2'][xl]:
                C1=C1+x['marks'][xl]
                c1No=c1No+1
            else:
                C2=C2+x['marks'][xl]
                c2No=c2No+1
        n1=C1/c1No
        n2=C2/c2No

How many ilteration do u need
7

In [241]:
x

,Sr NO,marks,Ilteration 1 C1,Ilteration 1 C2,Ilteration 2 C1,Ilteration 2 C2,Ilteration 3 C1,Ilteration 3 C2,Ilteration 4 C1,Ilteration 4 C2,Ilteration 5 C1,Ilteration 5 C2,Ilteration 6 C1,Ilteration 6 C2,Ilteration 7 C1,Ilteration 7 C2
0,1,35,0,10,8.5,7.75,11.333333,6.2,16.5,5.0,30.0,3.857143,30.0,3.857143,30.0,3.857143
1,2,36,1,11,7.5,8.75,10.333333,7.2,15.5,6.0,29.0,4.857143,29.0,4.857143,29.0,4.857143
2,3,25,10,0,18.5,2.25,21.333333,3.8,26.5,5.0,40.0,6.142857,40.0,6.142857,40.0,6.142857
3,4,27,8,2,16.5,0.25,19.333333,1.8,24.5,3.0,38.0,4.142857,38.0,4.142857,38.0,4.142857
4,5,65,30,40,21.5,37.75,18.666667,36.2,13.5,35.0,0.0,33.857143,0.0,33.857143,0.0,33.857143
5,6,28,7,3,15.5,0.75,18.333333,0.8,23.5,2.0,37.0,3.142857,37.0,3.142857,37.0,3.142857
6,7,38,3,13,5.5,10.75,8.333333,9.2,13.5,8.0,27.0,6.857143,27.0,6.857143,27.0,6.857143
7,8,29,6,4,14.5,1.75,17.333333,0.2,22.5,1.0,36.0,2.142857,36.0,2.142857,36.0,2.142857
8,9,58,23,33,14.5,30.75,11.666667,29.2,6.5,28.0,7.0,26.857143,7.0,26.857143,7.0,26.857143

In [237]:
C1

65

In [238]:
C2

218