In [7]:
d={"regno":['L1F19BSCS0549','L1F19BSCS0051','L1F19BSCS0171','L1F19BSCS00439'],
  "name":['saad','bilal','mohsin','ali'],
  "program":['bscs','bscs','bscs','bscs'],
  "CGPA":[3.14,2.89,2.67,3.12]}

In [8]:
print(d)

{'regno': ['L1F19BSCS0549', 'L1F19BSCS0051', 'L1F19BSCS0171', 'L1F19BSCS00439'], 'name': ['saad', 'bilal', 'mohsin', 'ali'], 'program': ['bscs', 'bscs', 'bscs', 'bscs'], 'CGPA': [3.14, 2.89, 2.67, 3.12]}

In [9]:
import pandas as pd
df = pd.DataFrame(d)

In [10]:
df

            regno    name program  CGPA
0   L1F19BSCS0549    saad    bscs  3.14
1   L1F19BSCS0051   bilal    bscs  2.89
2   L1F19BSCS0171  mohsin    bscs  2.67
3  L1F19BSCS00439     ali    bscs  3.12

In [11]:
df.to_csv('saad.csv',sep=',')