In [1]:
#tuple
#dictionary
#set

In [2]:
#[] list....
# l = [1,2,3,4,'UCP',3.14]
#() tuple....
t = (1, 2, 3, 'UCP', 3.14, 'Pakistan')

In [3]:
type(t)

tuple

In [4]:
t = (1, 2, ['UCP','Lahore','Pakistan'], ('Punjab','Sindh','KPK','Balochistan'), 3.14)

In [5]:
type(t)

tuple

In [6]:
t[0]

1

In [7]:
t[2]

['UCP', 'Lahore', 'Pakistan']

In [9]:
t[0:3]

(1, 2, ['UCP', 'Lahore', 'Pakistan'])

In [10]:
t[-1]

3.14

In [11]:
t[-2]

('Punjab', 'Sindh', 'KPK', 'Balochistan')

In [12]:
t

(1,
 2,
 ['UCP', 'Lahore', 'Pakistan'],
 ('Punjab', 'Sindh', 'KPK', 'Balochistan'),
 3.14)

In [13]:
print(t)

(1, 2, ['UCP', 'Lahore', 'Pakistan'], ('Punjab', 'Sindh', 'KPK', 'Balochistan'), 3.14)

In [14]:
t[0] = 6

TypeError: 'tuple' object does not support item assignment

In [15]:
t[1] = 22

TypeError: 'tuple' object does not support item assignment

In [17]:
for tt in t:
    print(tt, type(tt))

1 <class 'int'>
2 <class 'int'>
['UCP', 'Lahore', 'Pakistan'] <class 'list'>
('Punjab', 'Sindh', 'KPK', 'Balochistan') <class 'tuple'>
3.14 <class 'float'>

In [18]:
#remove
#pop
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [19]:
t.remove('1')

AttributeError: 'tuple' object has no attribute 'remove'

In [24]:
dup_t = t

In [25]:
dup_t

(1,
 2,
 ['UCP', 'Lahore', 'Pakistan'],
 ('Punjab', 'Sindh', 'KPK', 'Balochistan'),
 3.14)

In [26]:
del dup_t[2]

TypeError: 'tuple' object doesn't support item deletion

In [27]:
dup_t

(1,
 2,
 ['UCP', 'Lahore', 'Pakistan'],
 ('Punjab', 'Sindh', 'KPK', 'Balochistan'),
 3.14)

In [28]:
t[2]

['UCP', 'Lahore', 'Pakistan']

In [29]:
t[2][1]

'Lahore'

In [30]:
t[0] = 6

TypeError: 'tuple' object does not support item assignment

In [31]:
t[2][1] = 'Islamabad'

In [32]:
t

(1,
 2,
 ['UCP', 'Islamabad', 'Pakistan'],
 ('Punjab', 'Sindh', 'KPK', 'Balochistan'),
 3.14)

In [33]:
t[3][0]

'Punjab'

In [34]:
t[3][0] = 'PUNJAB'

TypeError: 'tuple' object does not support item assignment

In [35]:
t[3]

('Punjab', 'Sindh', 'KPK', 'Balochistan')

In [36]:
t[2]

['UCP', 'Islamabad', 'Pakistan']

In [37]:
t[2][0:3] = 'Pakistan'

In [38]:
t[2]

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [39]:
#Dictionary
#d = {key:value,key1:value1,key2:value}
d = {'Pakistan':'Islamabad','India':'Delhi','Bhuthan':'Thimphu','Nepal':'Kathmandu'}

In [40]:
type(d)

dict

In [41]:
d

{'Pakistan': 'Islamabad',
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Nepal': 'Kathmandu'}

In [42]:
d['Iran'] = 'Kathmandu'

In [43]:
d

{'Pakistan': 'Islamabad',
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Nepal': 'Kathmandu',
 'Iran': 'Kathmandu'}

In [44]:
d['Iran'] = 'Tehran'

In [45]:
d

{'Pakistan': 'Islamabad',
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Nepal': 'Kathmandu',
 'Iran': 'Tehran'}

In [46]:
d[0]

KeyError: 0

In [47]:
d['Pakistan']

'Islamabad'

In [48]:
d['India']

'Delhi'

In [49]:
d['Nepal']

'Kathmandu'

In [50]:
d.pop('Nepal')

'Kathmandu'

In [51]:
d

{'Pakistan': 'Islamabad',
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran'}

In [52]:
#d.clear()
# del d

In [53]:
for ki in d.keys():
    print(ki)

Pakistan
India
Bhuthan
Iran

In [54]:
for ki in d.keys():
    if ki == 'Pakistan':
        print(d[ki])

Islamabad

In [56]:
for val in  d.values():
    print(val,type(val))

Islamabad <class 'str'>
Delhi <class 'str'>
Thimphu <class 'str'>
Tehran <class 'str'>

In [58]:
for it in d.items():
    print(it, type(it))

('Pakistan', 'Islamabad') <class 'tuple'>
('India', 'Delhi') <class 'tuple'>
('Bhuthan', 'Thimphu') <class 'tuple'>
('Iran', 'Tehran') <class 'tuple'>

In [59]:
for ki in d.keys():
    print(ki)

Pakistan
India
Bhuthan
Iran

In [60]:
d

{'Pakistan': 'Islamabad',
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran'}

In [61]:
d['Pakistan'] = {'Capital':'Islamabad','Punjab':'Lahore','Sindh':'Karachi','KPK':'Peshawar','Balochistan':'Quetta'}

In [62]:
d

{'Pakistan': {'Capital': 'Islamabad',
  'Punjab': 'Lahore',
  'Sindh': 'Karachi',
  'KPK': 'Peshawar',
  'Balochistan': 'Quetta'},
 'India': 'Delhi',
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran'}

In [63]:
d['Pakistan']['Capital']

'Islamabad'

In [64]:
d['India'] = ['Delhi','Mumbuy','Culcuta','Hyder-abad','Gujrat','Luknow']

In [65]:
d

{'Pakistan': {'Capital': 'Islamabad',
  'Punjab': 'Lahore',
  'Sindh': 'Karachi',
  'KPK': 'Peshawar',
  'Balochistan': 'Quetta'},
 'India': ['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow'],
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran'}

In [66]:
d['India']

['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow']

In [67]:
d['Pakistan']

{'Capital': 'Islamabad',
 'Punjab': 'Lahore',
 'Sindh': 'Karachi',
 'KPK': 'Peshawar',
 'Balochistan': 'Quetta'}

In [68]:
for val in d.values():
    print(val, type(val))

{'Capital': 'Islamabad', 'Punjab': 'Lahore', 'Sindh': 'Karachi', 'KPK': 'Peshawar', 'Balochistan': 'Quetta'} <class 'dict'>
['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow'] <class 'list'>
Thimphu <class 'str'>
Tehran <class 'str'>

In [69]:
'Pakistan' in d

True

In [70]:
'Nepal' in d

False

In [71]:
'Tehran' in d

False

In [72]:
'Tehran' in d.values()

True

In [73]:
'Delhi' in d.values()

False

In [74]:
d[1] = 123

In [75]:
d

{'Pakistan': {'Capital': 'Islamabad',
  'Punjab': 'Lahore',
  'Sindh': 'Karachi',
  'KPK': 'Peshawar',
  'Balochistan': 'Quetta'},
 'India': ['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow'],
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran',
 1: 123}

In [76]:
sorted(d.keys())

TypeError: '<' not supported between instances of 'int' and 'str'

In [77]:
d.pop(1)

123

In [78]:
d

{'Pakistan': {'Capital': 'Islamabad',
  'Punjab': 'Lahore',
  'Sindh': 'Karachi',
  'KPK': 'Peshawar',
  'Balochistan': 'Quetta'},
 'India': ['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow'],
 'Bhuthan': 'Thimphu',
 'Iran': 'Tehran'}

In [79]:
sorted(d.keys())

['Bhuthan', 'India', 'Iran', 'Pakistan']

In [80]:
sorted(d.values())

TypeError: '<' not supported between instances of 'list' and 'dict'

In [81]:
for val in d.values():
    print(val)

{'Capital': 'Islamabad', 'Punjab': 'Lahore', 'Sindh': 'Karachi', 'KPK': 'Peshawar', 'Balochistan': 'Quetta'}
['Delhi', 'Mumbuy', 'Culcuta', 'Hyder-abad', 'Gujrat', 'Luknow']
Thimphu
Tehran

In [82]:
for val in d.values():
    if type(val) == list:
        print(sorted(val))

['Culcuta', 'Delhi', 'Gujrat', 'Hyder-abad', 'Luknow', 'Mumbuy']

In [83]:
for ki in d.keys():
    if ki == 'India':
        print(sorted(d[ki]))

['Culcuta', 'Delhi', 'Gujrat', 'Hyder-abad', 'Luknow', 'Mumbuy']

In [ ]:
'''
git add .

git status

git commit - m "Hello World -- Bye Corona"

git push -u

'''